{% extends "base.html.twig" %}

{% block main %}

<div class="container text-center mb-5 pb-5">
<p>So far, {{total_wikidata|number_format}} records have been connected to Wikidata,
and {{total_wikitree|number_format}} to WikiTree.</p>
<p>You can help by adding references to peoples' profiles on either site,
and then entering the relevant ID here.
The data here is only available while we compare the sites and add more references,
and all information should be checked against the actual BMD index.
Do not treat the URLs of this tool as stable; they shouldn't be used in references.</p>
</div>

<form class="container" action="{{path('home')}}" method="get">
    <div class="mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type_birth" value="birth" checked>
            <label class="form-check-label" for="type_birth">Birth</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type_marriage" value="marriage">
            <label class="form-check-label" for="type_marriage">Marriage</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="type_death" value="death">
            <label class="form-check-label" for="type_death">Death</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="registration_year" class="form-label">Registration year:</label>
            <input type="text" class="form-control" name="registration_year" id="registration_year" required>
        </div>
        <div class="col">
            <label for="registration_number" class="form-label">Registration number:</label>
            <input type="text" class="form-control" name="registration_number" id="registration_number" required>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">
            Go to record
        </button>
    </p>
</form>

<table class="table table-hover container">
    <thead>
        <tr>
            <th class="text-start">Year</th>
            <th class="text-end">Births</th>
            <th class="text-end">Marriages</th>
            <th class="text-end">Deaths</th>
        </tr>
    </thead>
    {% for year,data in year_totals %}
        <tr>
            <td class="text-start">{{year}}</td>
            <td class="text-end">
                {% if data.births.total %}
                    <a href="{{path('year', {year:year, type:'births'})}}">
                        {{data.births.total|number_format}}
                    </a>
                {% endif %}
            </td>
            <td class="text-end">
                {% if data.marriages.total %}
                    <a href="{{path('year', {year:year, type:'marriages'})}}">
                        {{data.marriages.total|number_format}}
                    </a>
                {% endif %}
            </td>
            <td class="text-end">
                {% if data.deaths.total %}
                    <a href="{{path('year', {year:year, type:'deaths'})}}">
                        {{data.deaths.total|number_format}}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
